
/* Fonts */

@font-face {
	font-family: 'apercu';
	src: url('assets/fonts/apercu-medium.WOFF') format('woff');
	font-weight: normal;
}

@font-face {
	font-family: 'apercu';
	src: url('assets/fonts/apercu-bold.WOFF') format('woff');
	font-weight: bold;
}

@font-face {
	font-family: 'apercu';
	src: url('assets/fonts/apercu-black.WOFF') format('woff');
	font-weight: 900;
}

@font-face {
	font-family: 'apercu';
	src: url('assets/fonts/apercu-regular.WOFF') format('woff');
	font-weight: 200;
}

@font-face {
	font-family: 'apercu';
	src: url('assets/fonts/apercu-italic.WOFF') format('woff');
	font-style: italic;
}

@font-face {
	font-family: 'apercu mono';
	src: url('assets/fonts/ApercuMono-Medium.woff2') format('woff2'),
	url('assets/fonts/ApercuMono-Medium.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'apercu mono';
	src: url('assets/fonts/ApercuMono-Regular.woff2') format('woff2'),
	url('assets/fonts/ApercuMono-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}